<?xml version="1.0" encoding="UTF-8" ?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               debug="false">
  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>jwheatsheaf: %logger{128}: %level: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="com.io7m.xoanon.commander.internal.XCCommander"
          level="DEBUG"/>

  <logger name="com.io7m.xoanon.commander.internal.XCRobot"
          level="DEBUG"/>

  <root level="TRACE">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
